# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/

# Frontend 
veterinaria-frontend/

# Environments
.env
.venv
venv/
env/

# Database
*.sqlite3
*.db

# Django
media/
staticfiles/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
models_auto.py

# Local settings
local_settings.py

# Archivos de base de datos 
*.dump
*.backup